# cp .env.example .env

# Supabase (PostgreSQL - Session Pooler)
SUPABASE_DB_URL=jdbc:postgresql://<host>:<port>/postgres
SUPABASE_DB_USERNAME=postgres.<project-id>
SUPABASE_DB_PASSWORD=<tu-password>

# Clerk
CLERK_JWKS_URI=https://<tu-dominio>/.well-known/jwks.json
CLERK_ISSUER=https://<tu-dominio>.accounts.dev
