# =========================================
# Dependencies and build output
# =========================================
node_modules/
dist/
.tmp/
.cache/
README.md
# =========================================